body {
  background-color:#d8d8d8;
}

.container {
  max-width: 1024px;
  margin-top: 2%;
}
h1 {
  font-family: 'Diplomata SC';
  font-size:3em;
}
.btn {
  margin-top:2%;
  font-size:1em;
  font-family: 'Railway';
  border: none;
}
.btn-success {
  background-color:#196308;
}

#random_quote {
    font-size:1.5em;
}
p {
  margin: 25px;
  font-family: 'Railway';

}

